@use "../config/breakpoints" as *;
@use "../config/sizes" as *;


.u-nsb {
  /* stylelint-disable-next-line */
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
    appearance: none;
    width: 0;
    height: 0;
  }
}

.u-w100 { width: 100%; }

.u-h100 { height: 100%; }

.u-margin {
  margin: 5rem 0;

  @include media-breakpoint-up(md) { margin: 7.5rem 0; }

  @include media-breakpoint-up(xl) { margin: 10rem 0; }
}

.u-padding {
  padding: 5rem 0;

  @include media-breakpoint-up(md) { padding: 7.5rem 0; }

  @include media-breakpoint-up(xl) { padding: 10rem 0; }
}

.u-o1 {
  order: 1;

  @include media-breakpoint-up(xl) { order: initial; }
}

.u-hidden { display: none; }

.u-text-center { text-align: center; }

.u-relative { position: relative; }

.u-font-tag { @include tag; }

.u-font-tag-bold { @include tag-bold; }

.u-flex { display: flex; }

.u-pagers {
  display: flex;
  align-items: center;
  gap: 1rem;
}
