@use '../config' as *;

.c-post-card {
  &__image {
    user-select: none;
    aspect-ratio: 4 / 5;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
  }

  &__category {
    padding: 0.4rem 0.6rem;
    border-radius: 2rem;
    background-color: $black;
    color: $white;
  }

  &__excerpt { @include body-s-light; }

  @media (hover: hover) {
    .c-post-card__image {
      position: relative;
      overflow: hidden;

      .image {
        scale: 1.01;
        transition: scale 0.7s $ease-smooth;
      }

      &::before {
        content: '';
        mix-blend-mode: overlay;
        background: $primary;
        position: absolute;
        z-index: 1;
        inset: 0;
        opacity: 0;
        transition: opacity 0.7s $ease-smooth;
      }
    }

    .c-post-card__category { transition: background-color 0.7s $ease-smooth, color 0.7s $ease-smooth; }

    &:hover {
      .c-post-card__image {
        &::before { opacity: 1; }

        .image { scale: 1; }
      }

      .c-post-card__category {
        background-color: darken($color: $white, $amount: 5%);
        color: $black;
      }
    }
  }
}
