@use '../config' as *;

$postTitleFont: 'Arial', sans-serif;
$postContentFont: 'Arial', sans-serif;
$postTitleColor: $black;
$postContentColor: $black;

.single-post {
  .post-hero {
    padding: $margin-xxl 0;

    &__category {
      span {
        padding: 0.4rem 0.6rem;
        border-radius: 2rem;
        background-color: $black;
        color: $white;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: $margin-m;
      padding: $margin-m 0;
    }

    &__image {
      aspect-ratio: 2 / 1;
    }

    @include media-breakpoint-up(lg) {
      padding: calc($margin-xxl + $margin-l) 0 $margin-xxl 0;

      &__category {
        display: flex;

        span {
          margin-left: auto;
        }
      }

      &__content {
        padding: 0 0 $margin-l 0;
      }
    }
  }

  .post-content {
    h2 {
      font-family: $postTitleFont;
      font-size: 2.5rem;
      margin: 3rem 0;
      color: $postTitleColor;
    }

    h3 {
      font-family: $postTitleFont;
      font-size: 2.2rem;
      margin: 2rem 0;
      color: $postTitleColor;
    }

    h4 {
      font-family: $postTitleFont;
      font-size: 2rem;
      margin: 1.5rem 0;
      color: $postTitleColor;
    }

    p {
      font-family: $postContentFont;
      font-size: 1.6rem;
      line-height: 2.6rem;
      color: $postContentColor;
    }

    a {
      font-family: $postContentFont;
      color: $postContentColor;
      text-decoration: underline;
    }
  }
}
