@use '../config' as *;

.pager {
  position: relative;
  width: 4.8rem;
  height: 4.8rem;
  pointer-events: all;
  cursor: pointer;
  // overflow: hidden;
  transition: opacity 0.82s $ease-out;
  border-radius: 100%;
  border: 1px solid $black;
  display: flex;
  justify-content: center;
  align-items: center;

  &.dashed {
    border: none;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 100%;
      border: 1px dashed $black;
      transition: transform 0.82s $ease-out;
    }
  }


  &.is-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
  }

  &--prev .pager__arrow svg { rotate: 180deg; }

  &--white {
    color: $white;
    border: 1px solid $white;

    &.dashed::before { border: 1px dashed $white; }
  }

  &__arrow {
    display: flex;
    width: auto;
    height: 2.4rem;

    svg {
      width: 100%;
      height: 100%;
      transition: transform 0.82s $ease-out;
    }
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.3;

      svg { transform: translateX(0.5rem) scale(0.8); }

      &::before {
        transform: scale(0.8) rotate(180deg);
      }
    } 
  }
}
